$lineHeight: 1.2em

@mixin white-border
  border-left: 2px solid #fff
  padding: 20px 0 20px 20px

.sidebar
  width: 300px
  position: fixed
  right: 0px
  top: 100px
  color: #fff
  padding-right: 30px
  z-index: 2

  & h1
    @include white-border
    padding: 20px 0 5px 20px
    font-size: 0.8rem
    text-transform: uppercase
    font-weight: bold
    line-height: 1.1rem

  &__instructions, &__country-name
    @include white-border
    padding-top: 5px
    font-weight: bold
    font-size: 1.3em
    line-height: 25px
    text-transform: capitalize

  &__stats li
    @include white-border

  &__stat-value
    font-size: 1.2em

  &__stat-title
    display: block
    font-size: 0.9em
    font-style: italic
    margin-top: 5px

  &__jwlink
    @include white-border
    @include anchor-reset
    display: block
    font-style: italic
    font-size: 0.9em
    // text-decoration: underline
    line-height: $lineHeight

  &__nostats
    @include white-border
    line-height: $lineHeight
    & a
      @include anchor-reset
      font-style: italic

  &__mobile-arrow
    opacity: 0

@media screen and (max-width: 880px)

  .sidebar
    top: 20px
    left: 20px
    width: auto

    &__stats li
      background: #666

    & h1
      padding: 10px 0 0 10px
      font-size: 0.7rem

    &__instructions, &__country-name
      padding: 2px 0 10px 10px
      font-size: 1.2rem

    &__nostats
      padding: 10px 0 10px 10px
      font-size: 1rem

    &__stats li, &__jwlink
    border-left: none

    &__mobile-arrow
      opacity: 1
      margin-left: 10px
      font-size: 0.8rem
      margin-bottom: 0.2rem
